{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

<!-- Summary cards -->
<div class="row g-4">

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6 class="text-muted">Ian</h6>
                <h3>{{ data.Ian }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6 class="text-muted">Sheila</h6>
                <h3>{{ data.Sheila }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6 class="text-muted">Joint</h6>
                <h3>{{ data.Joint }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6 class="text-muted">Total</h6>
                <h3>{{ data.Total }}</h3>
            </div>
        </div>
    </div>


 </div>
</div>
{% endblock %}
